ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 25px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 25px;
  }
  
  li a:hover {
    background-color: #111;
  }
.active {
    background-color: #04AA6D;
  }
h1{
    text-align: center;
    font-family: sans-serif;
}
h2{
    text-align: center;
    font-family: sans-serif;
}
body{
    background-color: white;
}
.Speisekarte{
    background-color: black;
    font-size: 150%;
    color: rgb(227, 238, 186);
    margin-bottom: 0%;
    text-align: center;
    width: fit-content;
    margin-left: 5vw;
    margin-right: 5vw;
    float: left;
}
a{
    text-decoration: underline;
    color: white;
}
h5{
    margin-left: 60vw;
}
.Sendenknopf{
    background-color: yellow;
    color: black;
    border-radius: 15px;
    border: 2px solid black;

}
.Tischnummer{
    background-color: white;
    color: black;
    width: fit-content;
    border-radius: 20px;
}
.Bestellung3{
    border-radius: 10px;
    border: 2px solid black;
}
